In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('../Reports/report2.csv')
data

,algo,count_of_expansions,count_of_iterations,dist_epsilon,solution_size,time_epsilon,time_us
0,PP-A*,23979,17508,0.1,4,0.1,24882
1,BOA*-epsilon,60576,60520,0.1,4,0.1,54948
2,BOA*,198188,198038,0.0,330,0.0,196302